<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NumberFun</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize-v0.98.0/materialize/css/materialize.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <header>
    <nav>
        <div class="nav-wrapper  green">
            <a href="#" class="brand-logo center">Number Fun</a>
            <!---<ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>--->
        </div>
    </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="~/images/parallax4.png"></div>
        </div>

        <div class="Prime" id="Prime">
            <div class="row container">
                <h2 class="header">Prime Number</h2>
                <p class="grey-text text-darken-3 lighten-3">The number has no divisors except itself and 1.  </p>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="~/images/parallax4.png"></div>
        </div>

        <div class="Perfect" id="Perfect">
            <div class="row container">
                <h2 class="header">Perfect Number</h2>
                <p class="grey-text text-darken-3 lighten-3">The sum of the number’s divisors except itself is the number.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="~/images/parallax4.png"></div>
        </div>

        <div class="Squareful" id="Squareful">
            <div class="row container">
                <h2 class="header">Squareful</h2>
                <p class="grey-text text-darken-3 lighten-3">At least one prime factor of the number is repeated.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="~/images/parallax4.png"></div>
        </div>

        <div class="Squarefull" id="Squarefull">
            <div class="row container">
                <h2 class="header"> Sqaurefull</h2>
                <p class="grey-text text-darken-3 lighten-3">Every prime factor of the number is repeated. There is also an extra 'L' compared to the last one 'Squareful' </p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="~/images/parallax4.png"></div>
        </div>

        <div class="Palindromic" id="Palindromic">
            <div class="row container">
                <h2 class="header">Palindromic</h2>
                <p class="grey-text text-darken-3 lighten-3">The digits are the same forwards and backwards  (read left-to-right or right-to-left). </p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="~/images/parallax4.png"></div>
        </div>
    </main>
 
    <footer class="page-footer  green lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                2017 cis 268
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize-v0.98.0/materialize/js/materialize.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/materialize-v0.98.0/materialize/js/materialize.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
